@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sableklish';
  src: url('../fonts/Sableklish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1, h2  {
  font-family: 'Sableklish', sans-serif;
  font-size: 50px!important;


}

p {
  font-family: 'Arial', sans-serif;
}


.section-ajustada {
    width: 70%;
    margin: 0 auto;
  }

  #successMessage {
    transition: opacity 0.3s ease-in-out;
  }

  .bg-image-fondo {
    position: relative; 
    overflow: hidden;   
}

.bg-image-fondo::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/patrones_1.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1; 
    z-index: -1; 
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; 
}

.spinner {
  width: 32px; 
  height: 32px;
  border: 4px solid transparent; 
  border-top-color: #3C4A28; 
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}



@media (max-width: 640px) {
  #Inicio h1 {
      font-size: 2rem;
  }
  #Inicio p {
      font-size: 1rem;
  }
  #Inicio button {
      padding: 10px 20px;
      font-size: 0.9rem;
  }
  #Preguntas h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#Preguntas .section-ajustada {
    padding: 0 1rem;
}
}
 



img {
  max-width: 100%;
  height: auto;
}

