@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sableklish';
  src: url('../fonts/Sableklish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1, h2 {
  font-family: 'Sableklish', sans-serif;
}

p {
  font-family: 'Arial', sans-serif;
}


.section-ajustada {
    width: 70%;
    margin: 0 auto;
  }

  #successMessage {
    transition: opacity 0.3s ease-in-out;
  }

  .bg-image-fondo {
    position: relative; 
    overflow: hidden;   
}

.bg-image-fondo::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/patrones_1.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1; 
    z-index: -1; 
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; /* Ajusta el espaciado si es necesario */
}

.spinner {
  width: 32px; /* Tamaño del círculo */
  height: 32px;
  border: 4px solid transparent; /* Hace que el círculo sea hueco */
  border-top-color: #3C4A28; /* Color de la parte visible */
  border-radius: 50%; /* Hace que sea circular */
  animation: spin 1s linear infinite; /* Animación giratoria */
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
